body {
   font-family: 'Open Sans', sans-serif;

}
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 6px;
    line-height: 1.5;
}
.wrap {
    justify-content: center;
    width: 60%;
    margin: 2em auto;

}
.h2-tag{
    text-align: center;
    margin-top: 4%;
}

@media (max-width: 768px){
    .wrap{
        width: 100%;
    }
}






